<h1>Editing Department Target</h1>

<%= render 'form', department_target: @department_target %>

<%= link_to 'Show', [:api, v1, @department_target] %> |
<%= link_to 'Back', api_v1_department_targets_path %>
